Codigo-final-Ecosmart/codigo-ecosmart-node-red.json
[
    {
        "id": "0a7efb6bb6693df5",
        "type": "function",
        "z": "d76a4b24a1e56863",
        "name": "Humedad de Tierra",
        "func": "msg.payload=msg.payload.humtierra;\nvar input = msg.payload; // Suponemos que el número en el rango de 0 a 4095 se recibe como payload del mensaje\n\nglobal.set (\"humedadTierra\", msg.payload); // Genera una nueva variable global con el valor calculado\nmsg.topic = \"Humedad de Tierra\"; // Diferenciador para la grafica\nreturn msg; ",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 80,
        "wires": [
            [
                "6d84c95a3b1960d9",
                "ff7022b01945d081"
            ]
        ]
    },
    {
        "id": "dfbf83eecb2f34cd",
        "type": "function",
        "z": "d76a4b24a1e56863",
        "name": "Nivel de Agua",
        "func": "msg.payload=msg.payload.nivagua;\nvar input = msg.payload; // Suponemos que el número en el rango de 0 a 4095 se recibe como payload del mensaje\n\nglobal.set(\"nivelAgua\", msg.payload); // Genera una nueva variable global con el valor calculado\nmsg.topic = \"Nivel de Agua\"; // Diferenciador para la grafica\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 140,
        "wires": [
            [
                "cf35bcf473869816"
            ]
        ]
    },
    {
        "id": "d0ceea4d3540693d",
        "type": "function",
        "z": "d76a4b24a1e56863",
        "name": "Flujo de Agua",
        "func": "msg.payload=msg.payload.flujoagua;\nglobal.set(\"flujoAgua\", msg.payload); // Genera una variable global para este valor\nmsg.topic = \"Flujo de Agua\"; // Diferenciador para la grafica\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 200,
        "wires": [
            [
                "27b34a05dba57c1b"
            ]
        ]
    },
    {
        "id": "6d84c95a3b1960d9",
        "type": "ui_gauge",
        "z": "d76a4b24a1e56863",
        "name": "",
        "group": "208be2acbe73eb51",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humedad de Tierra",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#77767b",
            "#00b500",
            "#1a5fb4"
        ],
        "seg1": "20",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 930,
        "y": 80,
        "wires": []
    },
    {
        "id": "cf35bcf473869816",
        "type": "ui_gauge",
        "z": "d76a4b24a1e56863",
        "name": "",
        "group": "208be2acbe73eb51",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Nivel de Agua",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#1a5fb4"
        ],
        "seg1": "20",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 920,
        "y": 140,
        "wires": []
    },
    {
        "id": "27b34a05dba57c1b",
        "type": "ui_gauge",
        "z": "d76a4b24a1e56863",
        "name": "",
        "group": "208be2acbe73eb51",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Flujo de Agua",
        "label": "L/min",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#33d17a",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 920,
        "y": 200,
        "wires": []
    },
    {
        "id": "7af8c3c4e581df58",
        "type": "function",
        "z": "d76a4b24a1e56863",
        "name": "temperatura de Aire",
        "func": "msg.payload=msg.payload.temp;\nglobal.set(\"temperaturaAire\", msg.payload); // Genera una variable global para este valor\nmsg.topic = \"Temperatura del Aire\"; // Diferenciador para la grafica\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 260,
        "wires": [
            [
                "27b223ca285b5f91",
                "b7612e2f0790e461"
            ]
        ]
    },
    {
        "id": "788519450da35e7d",
        "type": "function",
        "z": "d76a4b24a1e56863",
        "name": "humedad de Aire",
        "func": "msg.payload=msg.payload.hum;\nglobal.set(\"humedadAire\", msg.payload); // Genera una variable global para este valor\nmsg.topic = \"Humedad del Aire\"; // Diferenciador para la grafica\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 320,
        "wires": [
            [
                "52ab76ba631219e5",
                "b7612e2f0790e461"
            ]
        ]
    },
    {
        "id": "27b223ca285b5f91",
        "type": "ui_gauge",
        "z": "d76a4b24a1e56863",
        "name": "",
        "group": "208be2acbe73eb51",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura actual",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#15d3f9",
            "#0fe600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 870,
        "y": 260,
        "wires": []
    },
    {
        "id": "52ab76ba631219e5",
        "type": "ui_gauge",
        "z": "d76a4b24a1e56863",
        "name": "",
        "group": "208be2acbe73eb51",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humedad actual",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 840,
        "y": 320,
        "wires": []
    },
    {
        "id": "e871c969c9703c48",
        "type": "mqtt in",
        "z": "d76a4b24a1e56863",
        "name": "",
        "topic": "codigoIoT/mor/huerto/sensores",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "01c24b75a81888e0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 200,
        "wires": [
            [
                "0a7efb6bb6693df5",
                "dfbf83eecb2f34cd",
                "d0ceea4d3540693d",
                "7af8c3c4e581df58",
                "788519450da35e7d"
            ]
        ]
    },
    {
        "id": "ff7022b01945d081",
        "type": "ui_chart",
        "z": "d76a4b24a1e56863",
        "name": "",
        "group": "4b306fa854b54f27",
        "order": 1,
        "width": "7",
        "height": "7",
        "label": "Humedad de tierra",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1230,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "b7612e2f0790e461",
        "type": "ui_chart",
        "z": "d76a4b24a1e56863",
        "name": "",
        "group": "4b306fa854b54f27",
        "order": 1,
        "width": "7",
        "height": "7",
        "label": "Temperatura y humedad de aire",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1250,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "19eb4077ddb389ee",
        "type": "mqtt in",
        "z": "d76a4b24a1e56863",
        "name": "",
        "topic": "codigoIoT/mor/huerto/luz",
        "qos": "2",
        "datatype": "auto",
        "broker": "01c24b75a81888e0",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 290,
        "y": 380,
        "wires": [
            [
                "20b3e138a8905ac3"
            ]
        ]
    },
    {
        "id": "20b3e138a8905ac3",
        "type": "ui_text",
        "z": "d76a4b24a1e56863",
        "group": "109b92693ad52890",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "Luces",
        "label": "Luces",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 590,
        "y": 380,
        "wires": []
    },
    {
        "id": "2bc575e25d4e311e",
        "type": "mqtt in",
        "z": "d76a4b24a1e56863",
        "name": "",
        "topic": "codigoIoT/mor/huerto/ventilador",
        "qos": "2",
        "datatype": "auto",
        "broker": "01c24b75a81888e0",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 290,
        "y": 480,
        "wires": [
            [
                "074a0f1ece3a2105"
            ]
        ]
    },
    {
        "id": "074a0f1ece3a2105",
        "type": "ui_text",
        "z": "d76a4b24a1e56863",
        "group": "109b92693ad52890",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "Ventilador",
        "label": "Ventilador",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 580,
        "y": 480,
        "wires": []
    },
    {
        "id": "39252b957b9acb38",
        "type": "mqtt in",
        "z": "d76a4b24a1e56863",
        "name": "",
        "topic": "codigoIoT/mor/huerto/bomba",
        "qos": "2",
        "datatype": "auto",
        "broker": "01c24b75a81888e0",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 800,
        "y": 380,
        "wires": [
            [
                "fa0c7e7265677ac7"
            ]
        ]
    },
    {
        "id": "fa0c7e7265677ac7",
        "type": "ui_text",
        "z": "d76a4b24a1e56863",
        "group": "109b92693ad52890",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "Bomba",
        "label": "Bomba",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1100,
        "y": 380,
        "wires": []
    },
    {
        "id": "70a014f242557dae",
        "type": "mqtt in",
        "z": "d76a4b24a1e56863",
        "name": "",
        "topic": "codigoIoT/mor/huerto/tanque",
        "qos": "2",
        "datatype": "auto",
        "broker": "01c24b75a81888e0",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 800,
        "y": 480,
        "wires": [
            [
                "23d0422e296735c3"
            ]
        ]
    },
    {
        "id": "23d0422e296735c3",
        "type": "ui_text",
        "z": "d76a4b24a1e56863",
        "group": "109b92693ad52890",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "Tanque",
        "label": "Tanque de agua",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1100,
        "y": 480,
        "wires": []
    },
    {
        "id": "208be2acbe73eb51",
        "type": "ui_group",
        "name": "Indicadores",
        "tab": "a7baf48fa557e75d",
        "order": 1,
        "disp": true,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "01c24b75a81888e0",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4b306fa854b54f27",
        "type": "ui_group",
        "name": "Histórico",
        "tab": "a7baf48fa557e75d",
        "order": 2,
        "disp": true,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "109b92693ad52890",
        "type": "ui_group",
        "name": "Avisos",
        "tab": "a7baf48fa557e75d",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a7baf48fa557e75d",
        "type": "ui_tab",
        "name": "Jardìn Hidropónico",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    }
]